@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

.f-container {
  /* background-color: burlywood; */
  width: 960px;
  margin-top: 40px;
  font-family: "Inter";
}

label {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.label-container {
  display: flex;
  flex-direction: row;
  gap: 250px;
}

.name-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  /* background-color: green; */
}

.email-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 30px;
}

.radio-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 10px;
}

#first_name {
  width: 292px;
  height: 44px;
  flex: none;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
}

#last_name {
  width: 292px;
  height: 44px;
  flex: none;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  border-radius: 14px;
  font-size: 16px;
  line-height: 24px;
}

#email {
  width: 720px;
  height: 44px;
  flex: none;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  border-radius: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#message {
  width: 720px;
  height: 132px;
  /* padding: 12px 14px 12px 14px; */
  border: 1px solid #d0d5dd;
  border-radius: 14px;
  resize: none;
  font-size: 16px;
  color: #667085;
  line-height: 24px;
}

#btn__submit {
  margin-top: 20px;
  box-sizing: border-box;
  background-color: #1570ef;
  border: 1px solid #1570ef;
  border-radius: 8px;
  width: 720px;
  height: 48px;
  color: #fff;
}
